*{
    box-sizing: border-box;
 
}
main{
    display: flex;    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
   padding-top: 45px;
   background-color: wheat;
   align-items: center;
}
header {
margin-top: -10%x;
display: flex;
background-color: grey;
flex-wrap: wrap;
width: 100%;
position: fixed;
top:0px;
}

header div.container{
    display: flex;
    width: 100%;
    flex-direction: column;
   margin-left: 25%;
   
}
nav{
    display: flex;
    width: 68%;
    margin-right: 25%;
    justify-content: space-around;
   margin-bottom: 20px;
   margin-top: 20px;
   color: black;
}

nav a {
    background-color: wheat;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    
}

